aiohttp==3.6.2
algorithmia==1.2.1
algorithmia-api-client==1.1.0
appnope==0.1.0
async-timeout==3.0.1
attrs==19.3.0
backcall==0.1.0
bleach==3.1.0
blis==0.4.1
bokeh==1.4.0
catalogue==1.0.0
certifi==2019.11.28
chardet==3.0.4
Click==7.0
click-plugins==1.1.1
cligj==0.5.0
cycler==0.10.0
cymem==2.0.3
Cython==0.29.14
dashserve
dash==1.9.1
dash-core-components==1.8.1
dash-daq==0.2.1
dash-html-components==1.0.2
dash-renderer==1.2.4
dash-table==4.6.1
dash-table-experiments==0.6.0
DateTime==4.3
decorator==4.4.1
defusedxml==0.6.0
Django==2.2.7
django-plotly-dash==1.0.2
dpd-components==0.1.0
entrypoints==0.3
enum34==1.1.6
Fiona==1.8.13.post1
Flask==1.1.1
Flask-Compress==1.4.0
freetype-py==2.1.0.post1
future==0.18.2
geopandas==0.7.0
idna==2.8
import-ipynb==0.1.3
importlib-metadata==0.23
ipykernel==5.1.3
ipython==7.9.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
itsdangerous==1.1.0
jedi==0.15.1
Jinja2==2.10.3
joblib==0.14.0
json5==0.8.5
jsonschema==3.1.1
jupyter==1.0.0
jupyter-client==5.3.4
jupyter-console==6.0.0
jupyter-core==4.6.1
jupyter-plotly-dash==0.3.1
jupyter-server-proxy==1.3.0
jupyterlab==1.2.2
jupyterlab-dash==0.1.0a3
jupyterlab-server==1.0.6
kiwisolver==1.1.0
Markdown==3.1.1
MarkupSafe==1.1.1
matplotlib==3.1.2
mistune==0.8.4
more-itertools==7.2.0
multidict==4.5.2
munch==2.5.0
murmurhash==1.0.2
mydcc==0.1.22
nbconvert==5.6.1
nbformat==4.4.0
nbserverproxy==0.8.8
networkx==2.4
nltk==3.4.5
notebook==6.0.2
numpy==1.17.4
packaging==19.2
pandas==0.25.3
pandocfilters==1.4.2
panel==0.6.4
param==1.9.2
parso==0.5.1
pexpect==4.7.0
pickleshare==0.7.5
Pillow==6.2.1
plac==1.1.3
plotly==4.5.4
preshed==3.0.2
prometheus-client==0.7.1
prompt-toolkit==2.0.10
ptyprocess==0.6.0
pyct==0.4.6
Pygments==2.4.2
pyparsing==2.4.5
pyproj==2.6.0
pyrsistent==0.15.5
pyshp==2.1.0
python-dateutil==2.8.1
pytz==2019.3
pyviz-comms==0.7.2
PyYAML==5.1.2
pyzmq==18.1.0
qtconsole==4.5.5
reportlab==3.5.32
requests==2.23.0
retrying==1.3.3
scikit-learn==0.21.3
scipy==1.3.2
Send2Trash==1.5.0
shap==0.32.1
Shapely==1.7.0
simpervisor==0.3
six==1.13.0
spacy==2.2.3
sqlparse==0.3.0
srsly==1.0.1
terminado==0.8.3
testpath==0.4.4
thinc==7.3.1
tornado==6.0.3
tqdm==4.39.0
traitlets==4.3.3
urllib3==1.25.8
wasabi==0.6.0
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.16.0
widgetsnbextension==3.5.1
xgboost==0.90
yarl==1.3.0
zipp==0.6.0
zope.interface==4.7.1