aiohttp==3.14.0
async-timeout==5.0.1
blis==1.3.3
bokeh==3.9.0
catalogue==2.0.10
Click==8.4.1
click-plugins==1.1.1.2
cligj==0.7.2
cymem==2.0.13
Cython==3.2.5
dash==4.2.0
fiona==1.10.1
Flask==3.1.3
Flask-Compress==1.24
future==1.0.0
geopandas==1.1.3
itsdangerous==2.2.0
joblib==1.5.3
jupyter-server-proxy==4.5.0
matplotlib==3.10.9
multidict==6.7.1
munch==4.0.0
murmurhash==1.0.15
nbgitpuller==1.3.0
networkx==3.6.1
nltk==3.9.4
numpy==2.4.6
pandas==3.0.3
panel==1.9.3
param==2.4.0
Pillow==12.2.0
plac==1.4.5
plotly==6.7.0
preshed==3.0.13
prometheus-client==0.25.0
pyct==0.6.0
pyproj==3.7.2
pyshp==3.0.9
pyviz-comms==3.0.6
PyYAML==6.0.3
reportlab==4.5.1
retrying==1.4.2
scikit-learn==1.9.0
scipy==1.17.1
shap==0.51.0
Shapely==2.1.2
simpervisor==1.0.0
thinc==8.3.12
spacy==3.8.14
srsly==2.5.3
tapipy==25.4.0
tensorflow==2.21.0
tqdm==4.67.3
wasabi==1.1.3
Werkzeug==3.1.8
xgboost==3.2.0
yarl==1.24.2